/.npmrc
/*.log
/**/.DS_Store

/.yarn/*
!/.yarn/cache
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

/build/
/core
/coverage/
/dist/
/node_modules/
/package-lock.json
/tmp/
/tsconfig.tsbuildinfo

/packages/**/build/
/packages/**/core
/packages/**/coverage/
/packages/**/dist/
/packages/**/node_modules/
/packages/**/package-lock.json
/packages/**/tsconfig.tsbuildinfo
